<app-header></app-header>
<div class="container justify-content-center width">
    <div class="text-start mb-2 mx-2">
        <h5>Video Consultation</h5>
    </div>
    <div class="container">

        <div class="card bg-dark" style="height: 175px;">

        </div>
        <div class="text-center">
            <h5 class="pt-3">Please wait while we check your camera</h5>
            <div class="row pt-3 justify-content-center">
                <div class="col-6 col-md-5 pb-3">
                    <div class="card p-2">
                        <div class="d-flex justify-content-around align-items-center">
                            <span class="text-green"><i class="bi bi-globe-americas fs-3"></i></span>
                            <span class="fs-5">Network</span>
                            <span class="text-green"><i class="bi bi-check-circle fs-3"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-5 pb-3">
                    <div class="card p-2">
                        <div class="d-flex justify-content-around align-items-center">
                            <span class="text-green"><i class="bi bi-camera-video-fill fs-3"></i></span>
                            <span class="fs-5">Network</span>
                            <span class="text-green"><i class="bi bi-check-circle fs-3"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-5">
                    <div class="card p-2">
                        <div class="d-flex justify-content-around align-items-center">
                            <span class="text-green"><i class="bi bi-mic-fill fs-3"></i></span>
                            <span class="fs-5">Network</span>
                            <span class="text-green"><i class="bi bi-check-circle fs-3"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-5">
                    <div class="card p-2">
                        <div class="d-flex justify-content-around align-items-center">
                            <span class="text-green"><i class="bi bi-volume-up-fill fs-3"></i></span>
                            <span class="fs-5">Network</span>
                            <span class="text-green"><i class="bi bi-check-circle fs-3"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="pt-3">
                Supported web browsers for this video consultation technology include the latest versions of google
                chrome,Mozilla firefox</p>

                <button type="submit" class="btn btn-green btn-lg w-75 mb-4" routerLink="/videocall">Continue</button>    

        </div>
    </div>
</div>